<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>A1 Questions</title>
</head>
<body>
  <form class="" action="" name="form" onsubmit="return checkform()" method='post'>
    <div>
      <div>
        <p>He ( ... ) read a book (quick) <input class="w3-input w3-border" type="text" name="answer1" required></p>
        </div>
        <button type="submit">Submit</button> <input type="button" value="Cancel" onclick="window.location.href='/'" />
      </div>
  </form>
</body>
</html>